/************************************************************************************
smaller than 980
*************************************************************************************/


@media screen and (max-width: 980px){
    .left-part {
        width: 40%;
        align-items: center;
        margin-left: 280px;
    }
    
    .right-part{
        align-content: center;
        width:100%;
        padding-left: 140px;
    }
    
    .h2-color {
        align-content: center;
    }
}

/************************************************************************************
smaller than 650
*************************************************************************************/

@media screen and (max-width:650px){
    .left-part {
        width: 40%;
        margin-left: 180px;
    }
    
    .right-part{
        align-content: center;
        
    }
    
    
}

/************************************************************************************
smaller than 480
*************************************************************************************/

@media screen and (max-width:480px){
    
    header img {
        height: 200px;
        margin: auto;
        display: block;
        margin-bottom: -50px;
        margin-top: -30px;
    }
    
    .tablink{
        font-size: 25px;
        margin-left: 70px;
        margin-right: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .tablinks {
        font-size: 25px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    
    .left-part {
        width: 70%;
        margin-left: 50px;
    }
    
    .right-part{
        align-content: center;
    }
    
    .h2-color {
        font-size: 15px;
        margin-right: 25px;
        margin-left: -105px;
    }
    
    .h1-color {
        font-size: 20px;
        padding-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    .h3-color {
        font-size: 15px;
        margin-right: 25px;
        margin-left: -105px;
    }
    
    h1 {
        font-size: 20px;
    }
    
    .painting-img {
        margin: auto;
        display: block;
        padding: 10px 0px 10px 30px;
        margin: auto;
    }
    
    .painting-right {
        margin: auto;
        display: block;
        padding: 10px 0px 10px 30px;
        margin: auto;
    }
    
    .drawing-img {
        margin: auto;
        display: block;
        padding: 10px 0px 10px 30px;
        margin: auto;
    }
    
    .drawing-m {
        margin: auto;
        display: block;
        padding: 10px 0px 10px 30px;
        margin: auto;
    }
    
    .drawing-mid {
        margin: auto;
        display: block;
        padding: 10px 0px 10px 30px;
        margin: auto;
    }
    
    .drawing-right {
        margin: auto;
        display: block;
        padding: 10px 0px 10px 30px;
        margin: auto;
    }
    
    .printmaking-right {
        margin: auto;
        display: block;
        padding: 10px 0px 10px 30px;
        margin: auto;
    }
    
    .printmaking-img {
        margin: auto;
        display: block;
        padding: 10px 0px 10px 30px;
        margin: auto;
    }
    
    article img {
        width: 400px;
    }
    
    .mage-title {
        font-size: 20px;
        margin: 20px 0px 20px 0px;
    }
}